# XDG_* variables
export XDG_CONFIG_HOME="{{- .chezmoi.homeDir }}/.config"
export XDG_CACHE_HOME="{{- .chezmoi.homeDir }}/.cache"
export XDG_DATA_HOME="{{- .chezmoi.homeDir }}/.local/share"
export XDG_STATE_HOME="{{- .chezmoi.homeDir }}/.local/state"

# personal
export MY_PATHS="~/JS/bin/private_hashtable.ps1;~/JS/bin/repo.ps1"
export JS="~/JS"
export MY_CD_CLI_PATH="~/asd/bin/asd.ps1"
export EDITOR="{{ env "EDITOR" }}"
export TERMINAL="{{ env "TERMINAL" }}"

# gpg
export GPG_TTY=$(tty)

# dotnet
export DOTNET_ROOT="$HOME/.dotnet"

# path
export PATH="$PATH:$DOTNET_ROOT:/Applications/Docker.app/Contents/Resources/bin:$HOME/JS/bin:$HOME/asd/bin:$HOME/.dotnet/tools:$HOME/.local/share/bob/nvim-bin:$HOME/.cargo/bin"
# Added by Toolbox App
export PATH="$PATH:/home/bazzite/.local/share/JetBrains/Toolbox/scripts"
# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# darwin
export CPPFLAGS="-I/opt/homebrew/opt/openjdk/include"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH=$BUN_INSTALL/bin:$PATH

# pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac

# tmux
export TMUX_CONF="{{- .chezmoi.homeDir }}/.config/tmux/tmux.conf"

# zsh
export ZDOTDIR="{{- .chezmoi.homeDir }}/.config/zsh"
