[data]
    email = "104475729+JohnGolgota@users.noreply.github.com"

[edit]
    editor = "nvim"
    command = "nvim"

[scriptEnv]
    EDITOR = "nvim"

[github]
    user = "JohnGolgota"

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
