$CustomObject = @{
    "paths"     = @(
        "{{ list .chezmoi.homeDir "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir "JS" "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".config" "a-cli" "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".cargo" "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".deno" "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".bun" "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".local" "share" "bob" "nvim-bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".local" "share" "JetBrains" "Toolbox" "scripts" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".local" "bin" | join "/" | osClean }}",
        "{{ list .chezmoi.homeDir ".local" "share" "pnpm" | join "/" | osClean }}"
    )
    "common"    = @{
        # XDG Base Directory Specification
        "XDG_CONFIG_HOME" = "{{ list .chezmoi.homeDir ".config" | join "/" | osClean }}"
        "XDG_CACHE_HOME" = "{{ list .chezmoi.homeDir ".cache" | join "/" | osClean }}"
        "XDG_DATA_HOME" = "{{ list .chezmoi.homeDir ".local" "share" | join "/" | osClean }}"
        "XDG_STATE_HOME" = "{{ list .chezmoi.homeDir ".local" "state" | join "/" | osClean }}"
        # Custom environment variables
        "MY_GITUI" = "{{ .my_env.gitui }}"
        "MY_EXPLORER" = "{{ .my_env.explorer }}"
        "MY_EDITOR" = "{{ .my_env.editor }}"
        # Personal Environment Variables
        "EDITOR" = "{{ .my_env.editor }}"
        "TERMINAL" = "{{ .my_env.terminal }}"
        # DOTNET
        "DOTNET_ROOT" = "{{ list .chezmoi.homeDir ".dotnet" | join "/" | osClean }}"
        # Bun
        "BUN_INSTALL" = "{{ list .chezmoi.homeDir ".bun" | join "/" | osClean }}"
        "PNPM_HOME" = "{{ list .chezmoi.homeDir ".local" "share" "pnpm" | join "/" | osClean }}"
    }
    "no_quotes" = @{}
    "darwin"    = @{
        "paths"     = @(
            "/opt/homebrew/opt/openjdk/bin",
            "/opt/homebrew/bin",
            "/opt/homebrew/sbin",
            "/nix/var/nix/profiles/default/bin"
        )
        "common"    = @{
            "CPPFLAGS" = "-I/opt/homebrew/opt/openjdk/include"
        }
        "no_quotes" = @{}
    }
    "linux"     = @{
        "paths"     = @(
            "/Applications/Docker.app/Contents/Resources/bin",
            "/var/opt/microsoft/powershell/7",
            "/usr/local/microsoft/powershell/7",
            "/home/linuxbrew/.linuxbrew/sbin",
            "/home/linuxbrew/.linuxbrew/bin"
        )
        "common"    = @{
            # Tmux
            "TMUX_CONF" = "{{- .chezmoi.homeDir }}/.config/tmux/tmux.conf"
            # zsh
            "ZDOTDIR"   = "{{- .chezmoi.homeDir }}/.config/zsh"
        }
        "no_quotes" = @{
            "GPG_TTY" = "`$(tty)"
        }
    }
    "win"       = @{
        "paths"     = @()
        "common"    = @{
            "KOMOREBI_CONFIG_HOME" = "{{- .chezmoi.homeDir }}/.config/komorebi"
        }
        "no_quotes" = @{}
    }
}
